body{
margin: 0;
padding: 0;
background-color: #000000;
}

.so1{margin-top: 90px;
margin-bottom: 250px;
align-items: center;
justify-content: center;
display: flex;
gap: 120px;
opacity: 0;
transform: translatex(-50px);
animation: slidedown 2s ease forwards;
}

@keyframes slidedown {
to{
opacity: 1;
transform: translatex(0);
}
}


.so2 h2 {
    margin-top: 300px;
    font-size: xx-large;
      background: linear-gradient(to bottom, #ff69b4, #8a2be2);
  background-clip: text;
  -webkit-text-fill-color: transparent;

opacity: 0;
transform: translatex(50px);
animation: slidedown 2s ease forwards;
}

@keyframes slidedown {
to{
opacity: 1;
transform: translatex(0);
}
}






