#footer{
 width: 100%;
margin-top: 160px;
padding-top: 50px;
padding-bottom: 50px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
 box-shadow:
    0 -4px 8px rgba(255, 105, 180, 0.6),
    0 -8px 16px rgba(199, 21, 133, 0.6),
    0 -12px 24px rgba(138, 43, 226, 0.6);
}


#footer p{
color:  rgb(255, 255, 255);
}

#footer p span{
color: rgb(141, 35, 153);



}




