.about1{
background-image: url('../images/images3.jpg');
padding-top: 80px;

padding-bottom:720px;
background-repeat: no-repeat;
background-size: cover;

}
.about2 pre {
  font-size: large;
  font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;

  background: linear-gradient(to bottom, #ff69b4, #8a2be2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
 
}

.about2 {
margin-bottom: 120px;
margin-top: 120px;


}
.about2 span{

    font-size: x-large;
color: white;
background-color: #a206b4;
padding-left: 90px;
padding-right: 90px;
padding-bottom: 15px;
padding-top: 15px;
border-radius: 50px;
box-shadow:
    0 4px 8px rgba(255, 105, 180, 0.4),
    0 8px 16px rgba(199, 21, 133, 0.4),
    0 12px 24px rgba(138, 43, 226, 0.4);
}





.hero {
  position: relative;
  min-height: 600px; 
  overflow: hidden;
}

.about3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/p22.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(7px);
  z-index: 1;
}

.content {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-align: center;
}

.x1{
display: flex;
align-items: center;
justify-content: center;
gap: 250px;


}
.x11{


display: flex;
align-items: center;
justify-content: center;
gap: 100px;

}

.hh22{
padding-left: 70px;



}

.x11 h2{
color: #a206b4;


}




